// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #F08F5E;
	--ion-color-primary-rgb: 240,143,94;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #d37e53;
	--ion-color-primary-tint: #f29a6e;

	--ion-color-secondary: #5E9BF0;
	--ion-color-secondary-rgb: 94,155,240;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #5388d3;
	--ion-color-secondary-tint: #6ea5f2;

	--ion-color-tertiary: #F05E70;
	--ion-color-tertiary-rgb: 240,94,112;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d35363;
	--ion-color-tertiary-tint: #f26e7e;

	--ion-color-success: #4CAF50;
	--ion-color-success-rgb: 76,175,80;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #439a46;
	--ion-color-success-tint: #5eb762;

	--ion-color-warning: #FF9800;
	--ion-color-warning-rgb: 255,152,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e08600;
	--ion-color-warning-tint: #ffa21a;

	--ion-color-danger: #F44336;
	--ion-color-danger-rgb: 244,67,54;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #d73b30;
	--ion-color-danger-tint: #f5564a;

	--ion-color-light: #F1F1F1;
	--ion-color-light-rgb: 241,241,241;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d4d4d4;
	--ion-color-light-tint: #f2f2f2;

	--ion-color-medium: #9E9E9E;
	--ion-color-medium-rgb: 158,158,158;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #8b8b8b;
	--ion-color-medium-tint: #a8a8a8;

	--ion-color-dark: #2E2E2E;
	--ion-color-dark-rgb: 46,46,46;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #282828;
	--ion-color-dark-tint: #434343;

}